@tailwind base;
@tailwind components;
@tailwind utilities;


.stroke-text {
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
    color: transparent;
}

.clip-path-slant {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.stroke-white {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

.stroke-2 {
    -webkit-text-stroke-width: 2px;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}